/*================================= Hiding premium features/ads =================================*/

/* Hide unusable emojis from other servers - unfortunately this doesn't remove the height so you 
 * still have to scroll past them.*/
[class*="emojiItemDisabled"] { display: none !important }

/* Hide "Add Super Reaction" button from various popups */
[aria-label="Add Super Reaction"] { display: none !important }
#message-actions-add-reaction-1 { display: none !important }
#message-add-reaction-1 { display: none !important }

/* Hide super reactions on posts. Super reaction are only discernable that they have a special
 * background on the element */
[class*="reaction"][style*="background"] { display: none !important }

/* Hide super reaction tab */
#super-reaction-picker-tab { display: none !important }

/* Hide the "Gift Nitro" button in the message box */
[aria-label="Send a gift"] { display: none !important }

/* Hide server boosting from serve menu popup */
#guild-header-popout-premium-subscribe { display: none !important }

/* Hide nitro entry from friend list */
[data-list-item-id*="__nitro"] { display: none !important }

/* Hide "Discord's Birthday" from friend list */
[data-list-item-id*="__activities"] { display: none !important }

/* Hide nitro icon next to user name */
[class*="premiumIcon"] { display: none !important }

/* Hide premium/animated banners */
[class*="bannerPremium"] { display: none !important }

/* Hide avatar decorations */
[class*="avatarDecoration"] { display: none !important }

/* Hide profile badges */
[aria-label="User Badges"] { display: none !important }

/* Restore profile popup/panel defaults */
[class*="userPopoutOuter"], [class*="userPanelOuter"] {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
}
/* Hide various premium features from settings: "Try out Nitro", "Colors" */
[class*="premiumFeatureBorder"] { display: none !important }

/* Hide birthday avatar decoration section from settings */
[class*="birthdayFeatureBorder"] { display: none !important }

/* Hide Billing settings from the settings. This is kinda wonky since there's nothing that's
 * easily selectable -> select the premium tab and hide the next 5 items (nitro, server boost,
 * subscriptions, gift inventory, billing) */
[class*="premiumTab"], 
[class*="premiumTab"] + div,
[class*="premiumTab"] + div + div,
[class*="premiumTab"] + div + div + div,
[class*="premiumTab"] + div + div + div + div,
[class*="premiumTab"] + div + div + div + div + div { display: none !important }

/* Hide Billing settings header */
[class*="eyebrow"][class*="headerText"]:nth-child(2) { display: none !important }



/*============================ Hiding unucessary UI elements / bloat ============================*/

/* Hide gif button in message box - this is still accessible from the emoji popup */
[aria-label="Open GIF picker"] { display: none !important }
/* Hide sticker button in message box - this is still accessible from the emoji popup */
[aria-label="Open sticker picker"] { display: none !important }